@import "../../styles/global.scss";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
 

  overflow: hidden;

  border: 0.1vw solid $c-black;
  border-radius: 5vw;

  position: relative;
  z-index: 2;

  @extend %body-text;
  cursor: pointer;

  @include mq() {
    border-radius: 11vw;
    font-size: 6vw;
  }

  &__circle {
    width: 20%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    top: 100%;
    z-index: -1;
    background-color: #161616;
    mix-blend-mode: difference;
  }
}