@import "/src/styles/global.scss";

.discover {
  background-color: $c-green;
  border-bottom: 0.2vw solid $c-black;
  padding: 5vw;

  &__list {
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw 12vw;
    margin-top: 2vw;
  }

  &__item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 120%;

    &:nth-of-type(2) {
      .discover__image {
        width: 6vw;
      }
    }
  }

  &__image {
    width: 8vw;
  }
}