@import "/src/styles/global.scss";

.discover {
  background-color: $c-green;
  border-bottom: 0.2vw solid $c-black;
  padding: 4vw;

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    width: 30%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }
}