@import "/src/styles/global.scss";

.discover {
  background-color: $c-green;
  border-bottom: 0.2vw solid $c-black;
  padding: 5vw;

  @include mq() {
    padding: 8vw;
  }

  &__list {
    display: grid;
    align-items: stretch;
    justify-content: space-around;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw 12vw;
    margin-top: 2vw;

    @include mq() {
      display: flex;
      flex-direction: column;
      gap: 6vw;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;

    height: 120%;

    @include mq() {
      gap: 4vw;
    }

    &:nth-of-type(2) {
      .discover__image {
        width: 6vw;

        @include mq() {
          width: 14%;
        }
      }
    }
  }

  &__image {
    width: 8vw;

    @include mq() {
      width: 16%;
    }
  }
}