@import "/src/styles/global.scss";

.reborn {
  position: relative;

  &__flower {
    position: absolute;
    width: 19vw;
    top: 1vw;
    left: 2vw;
    z-index: 1;
  }

  &__bee {
    position: absolute;
    z-index: 2;
  
    &-1 {
      width: 5vw;
      top: 34%;
      left: 20%;

      @include mq() {
        width: 13vw;
        top: 23%;
      }
    }
    
    &-2 {
      width: 10vw;
      top: 35%;
      left: 35%;

      transform: rotate(5deg);

      @include mq() {
        width: 28vw;
        top: 17%;
        left: 55%;
      }
    }
    
    &-3 {
      width: 6vw;
      top: 2%;
      left: 47%;

      transform: rotate(-45deg);

      @include mq() {
        width: 15vw;
        top: 6%;
        left: 76%;
      }
    }
  }

  &__wrapper {
    background-color: $c-orange;
    border-top: 0.2vw solid $c-black;
    border-bottom: 0.2vw solid $c-black;
    display: flex;
    justify-content: space-between;
    padding: 2vw 6.5vw;
    gap: 5vw;

    @include mq() {
      flex-direction: column;
      padding: 8vw;
      gap: 20vw;
    }

    & > h2, p {
      flex: 1;
      position: relative;
      z-index: 2;
    }
  }
}

.discount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2vw solid $c-black;
  padding: 2vw 6.5vw;

  @include mq() {
    flex-direction: column;
    padding: 14vw 8vw;
  }

  &__button {
    width: 14vw;
    height: 3.5vw;
    
    background-color: $c-purple;

    @include mq() {
      width: 80vw;
      height: 9vw;
    }
  }

  &__percent {
    width: 4vw;

    @include mq() {
      position: absolute;

      &:nth-of-type(1) {
        top: 2vw;
        right: 2vw;
      }
      
      &:nth-of-type(2) {
        bottom: 2vw;
        left: 2vw;
      }

      width: 10vw;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4vw;

    @include mq() {
      flex-direction: column;
      text-align: center;
    }
  }
}