@import "/src/styles/global.scss";

.reborn {
  position: relative;

  &__flower {
    position: absolute;
    width: 19vw;
    top: 1vw;
    left: 2vw;
    z-index: 1;

    @include mq() {
      width: 61.6vw;
      bottom: 105vw;
      top: auto;
    }
  }

  &__bee {
    position: absolute;
    z-index: 2;

    &-1 {
      width: 5vw;
      top: 34%;
      left: 20%;

      @include mq() {
        width: 10vw;
        top: 20%;
        left: 22.7%;
      }
    }

    &-2 {
      width: 10vw;
      top: 35%;
      left: 35%;

      transform: rotate(5deg);

      @include mq() {
        width: 25.3vw;
        top: 17%;
        left: 66%;
      }
    }

    &-3 {
      width: 6vw;
      top: 2%;
      left: 46%;
      transform: rotate(-45deg);

      @include mq() {
        display: none;
      }
    }
  }

  &__wrapper {
    background-color: $c-orange;
    border-top: 0.2vw solid $c-black;
    border-bottom: 0.2vw solid $c-black;
    display: flex;
    justify-content: space-between;
    padding: 4vw 6.5vw;
    gap: 7vw;

    @include mq() {
      flex-direction: column;
      padding: 20vw 6.5vw;
      gap: 24vw;
    }

    & > h2,
    p {
      flex: 1;
      position: relative;
      z-index: 2;
    }
  }
}

.discount {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.2vw solid $c-black;
  padding: 2vw 6.5vw;

  overflow: hidden;

  @include mq() {
    flex-direction: column;
    padding: 27vw 18vw;
  }

  &__button {
    width: 15.5vw;
    height: 3.8vw;

    background-color: $c-purple;

    @include mq() {
      width: 100%;
      height: 15vw;
    }
  }

  &__percent {
    width: 4vw;

    @include mq() {
      position: absolute;

      &:nth-of-type(1) {
        top: 6.5vw;
        right: 6.5vw;
      }

      &:nth-of-type(2) {
        bottom: 6.5vw;
        left: 6.5vw;
      }

      width: 10vw;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 4vw;

    @include mq() {
      flex-direction: column;
      text-align: center;
    }
  }
}
