@import "/src/styles/global.scss";

.bring {
  background-color: $c-yellow-primary;
  padding: 8vw 6vw;
  border-bottom: 0.2vw solid #0f0f0f;
  overflow: hidden;

  &-container {
    display: flex;
    justify-content: space-between;
    gap: 1.5vw;
    position: relative;

    @include mq() {
      flex-direction: column;
    }

    .bring-decor {
      position: absolute;
      z-index: 1;

      &-1 {
        position: absolute;
        top: -2vw;
        right: 11vw;
        z-index: 3;

        @include mq() {
          z-index: 0;
        }
      }

      &-2 {
        position: absolute;
        z-index: 1;

        width: 36vw;
        right: -20vw;
        top: 2vw;
        object-fit: cover;

        @include mq() {
          top: 60vw;
          width: 64vw;
          right: -42vw;
        }
      }
      &-3 {
        position: absolute;
        z-index: 1;
        width: 10vw;
        bottom: -78px;
        left: 28vw;
        object-fit: cover;
      }
    }
  }

  &-content {
    width: 45%;

    @include mq() {
      width: 100%;
    }
  }

  &-right {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 1.5vw;

    @include mq() {
      width: 100%;
      margin-top: 8vw;
    }
  }

  &-block {
    display: flex;
    height: 100%;

    &.right {
      display: block;
    }
  }

  &-list {
    list-style: inside;
    margin: 0;
    padding: 2vw;
    border: 1px solid #000;
    border-radius: 15px;
    position: relative;
    z-index: 2;

    @include mq() {
      padding: 4vw;
    }

    h1 {
      @include mq() {
        text-align: center;
        margin: 4vw 0;
      }
    }

    &.first {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      border-radius: 15px 15px 0 0;

      h1 {
        width: 100%;
      }

      .first-text {
        display: flex;
        gap: 2vw;

        @include mq() {
          flex-direction: column;
        }
      }

      p {
        @include mq($tablet, ">") {
          width: calc(50% - 1vw);
          box-sizing: border-box;
        }
      }
    }

    &.two {
      border-radius: 0;
    }

    &.three {
      border-radius: 0 0 15px 15px;

      @include mq($tablet, ">") {
        display: flex;
        justify-content: space-between;
      }

      .three-content {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
