@import "/src/styles/global.scss";

.hero {
  position: relative;
  height: max(53vw, 370px);

  @include mq() {
    height: auto;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: 50.7%;
    transform: translateY(-50%);

    @include mq() {
      position: static;
      transform: none;
      flex-direction: column;
      align-items: center;
      margin: 6.5vw 6.5vw 19.5vw;
      gap: 10vw;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mq() {
      gap: 1vw;
      width: 100%;
    }

    .char-mask {
      position: relative;
      overflow: hidden;
      display: inline-flex;
      gap: 0.5vw;

      @include mq() {
        gap: 1vw;
      }

      .word {
        text-wrap: nowrap;
      }
    }
  }

  &__subtitle {
    text-transform: none;

    @include mq() {
      font-size: 9.5vw;
    }

    & > br {
      @include mq() {
        display: none;
      }
    }

    & > span {
      @include mq($tablet + 1, ">") {
        display: none;
      }
    }
  }

  &__image {
    &-wrapper {
      width: 43vw;
      height: 30.8vw;
      overflow: hidden;

      @include mq() {
        width: 100%;
        height: 62.2vw;
        position: static;
        z-index: -1;
        top: -147%;
      }
    }

    object-position: right;
    width: 100%;
    height: 100%;
  }

  &__button {
    width: 15.5vw;
    height: 3.8vw;

    background-color: $c-blue;

    @include mq() {
      margin-top: 6vw;
      width: 71.2%;
      height: 15vw;
    }
  }

  &__line {
    width: 100%;
    height: 0.3vw;
    background-color: $c-green;

    @include mq() {
      height: 1.5vw;
    }
  }

  &__decor {
    position: absolute;

    &-1 {
      left: 15.9vw;
      top: 3.7vw;
      width: 17.3vw;

      @include mq() {
        // top: 8vw;
        // width: 60vw;
        // left: 4vw;
        display: none;
      }
    }

    &-2 {
      width: 15.4vw;
      right: -0.2vw;
      bottom: -17vw;
      transform: translate(-50%, -50%);

      @include mq() {
        width: 23vw;
        bottom: -7vw;
        left: 83vw;
        z-index: -1;
      }
    }
  }
}
