@import "/src/styles/global.scss";

.hero {
  position: relative;
  height: max(53vw, 370px);

  @include mq() {
    height: 90lvh;
  }

  &__wrapper {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    left: 0;
    right: 0;
    top: 50.7%;
    transform: translateY(-50%);

    @include mq() {
      top: 65%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @include mq() {
      gap: 1vw;
    }

    .char-mask {
      position: relative;
      overflow: hidden;
      display: inline-flex;
      gap: 0.5vw;

      @include mq() {
        gap: 1vw;
      }

      .word {
        text-wrap: nowrap;
      }
    }
  }

  &__subtitle {
    text-transform: none;
  }

  &__image {
    &-wrapper {
      width: 43vw;
      height: 30.8vw;
      overflow: hidden;

      @include mq() {
        width: 96vw;
        height: 60vw;
        position: absolute;
        z-index: -1;
        top: -120%;
      }
    }

    object-position: right;
    width: 100%;
    height: 100%;
  }

  &__button {
    width: 15.5vw;
    height: 3.8vw;

    background-color: $c-blue;

    @include mq() {
      width: 40vw;
      height: 12vw;
    }
  }

  &__line {
    width: 100%;
    height: 0.3vw;
    background-color: $c-green;

    @include mq() {
      width: 96%;
      height: 1.5vw;
    }
  }

  &__decor {
    position: absolute;

    &-1 {
      left: 15.9vw;
      top: 3.7vw;
      width: 17.3vw;

      @include mq() {
        // top: 8vw;
        // width: 60vw;
        // left: 4vw;
        display: none;
      }
    }

    &-2 {
      width: 15.4vw;
      right: -0.2vw;
      bottom: -17vw;
      transform: translate(-50%, -50%) !important;

      @include mq() {
        width: 42vw;
        bottom: -39vw;
        right: -14vw;
        z-index: -1;
      }
    }
  }
}
