@import "./utils/typography";
@import "./utils/fonts";
@import "./utils/mixins";
@import "./utils/variables";

body {
  background-color: $c-pink-primary;
  @extend %body-text;
  -ms-overflow-style: none;
  scrollbar-width: none;
  color: $c-black;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}
