@font-face {
  font-family: Montserrat;
  src: url("../../../public/fonts/Montserrat/static/Montserrat-Regular.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url("../../../public/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Giselma;
  src: url("../../../public/fonts/Giselma/giselmaregular-bwzm8.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Inconsolata;
  src: url("../../../public/fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}
