@import "./variables";

@mixin mq($size: $tablet, $type: '<', $size-next: null) {
  @if ($type == '<') {
    @media (max-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == '>') {
    @media (min-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == '<>') {
    @media screen and (min-width: #{$size}px) and (max-width: #{$size-next}px) {
      @content;
    }
  }
}

@mixin rotation() {
  animation: rotation 4s linear infinite;

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg)
    }
  }  
}