$c-pink-primary: #f7e7ea;
$c-pink-secondary: #f7e2e5;
$c-pink-dark: #f5d7dd;
$c-pink-dark-seconary: #f5dce1;
$c-purple: #c4c3e2;
$c-white: #f9f5ef;
$c-orange: #ffb087;
$c-blue: #c6e1df;
$c-green: #e4d47f;
$c-yellow: #f7f2008e;
$c-black: #0f0f0f;

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
