$c-pink-primary: #F7E7EA;
$c-pink-secondary: #F7E2E5;
$c-pink-dark: #F5D7DD;
$c-pink-dark-seconary: #F5DCE1;
$c-purple: #C4C3E2;
$c-white: #F9F5EF;
$c-orange: #FFB087;
$c-blue: #C6E1DF;
$c-green: #E4D47F;
$c-yellow: #f7f2008e;
$c-black: #0f0f0f;

/* -- Media Query Breakpoints -- */
$phone: 320;
$phablet: 556;
$tablet: 768;
$tablet-large: 1024;
$laptop: 1199;
$desktop: 1440;
