@import "/src/styles/global.scss";

.preparation {
  padding: 4vw 6.5vw;
  border-bottom: 0.2vw solid $c-black;
  background-color: $c-white;

  @include mq() {
    padding: 15vw 5vw;
  }

  &__wrapper {
    display: flex;
    gap: 2vw;

    @include mq() {
      gap: 6vw;
      flex-direction: column;
      margin-top: 4vw;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1vw;
    // padding: 1vw 0.5vw 1vw 2vw;

    @include mq() {
      gap: 6vw;

      &:last-of-type {
        .preparation__item:last-of-type {
          border: none;
        }
      }
    }

    &-text {
      &-1list {
        &-2 {
          @include mq() {
            margin-top: 7vw;
          }
        }
      }

      &-2list {
        &-1 {
          @include mq() {
            margin-top: 14vw;
          }
        }
        &-3 {
          @include mq() {
            margin-top: 14vw;
          }
        }
      }
    }

    &-image {
      width: 3vw;
      object-fit: cover;
      height: 100%;

      @include mq() {
        width: 15vw;
      }

      &-0 {
        @include mq() {
          transform: rotate(90deg);
          position: absolute;
          top: -13vw;
          left: 9vw;
          width: 16vw;
          height: 35vw;
        }
      }

      &-1 {
        height: 6.1vw;
        width: 3.5vw;

        @include mq() {
          height: 22.1vw;
          width: 24.5vw;
        }
      }

      &-2 {
        height: 129%;

        @include mq() {
          transform: rotate(90deg);
          height: 47.1vw;
          width: 49.5vw;
          object-fit: none;
          position: absolute;
          top: -19vw;
        }
      }

      &-1list {
        &-2 {
          @include mq() {
            transform: rotate(90deg);
            object-fit: none;
            width: 23px;
            height: 132px;
            position: absolute;
            left: 17vw;
            top: -19vw;
          }
        }

        &-3 {
          @include mq() {
            width: 27%;
            margin-left: -6vw;
          }
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 1.5vw;
    padding: 1vw 0.5vw;

    position: relative;

    &:not(.preparation__item:last-child) {
      border-bottom: 0.2vw solid $c-black;
    }

    @include mq() {
      border-bottom: 0.2vw solid $c-black;
      padding-bottom: 4vw;
      align-items: flex-start;
      flex-direction: column;
    }
  }
}
