@import "/src/styles/global.scss";

.header {
  height: 5vw;
  width: 100vw;
  background-color: $c-purple;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

  &__logo {
    width: 4vw;
    height: 4vw;
  }

  &__list-links {
    display: flex;
    align-items: center;
    gap: 0.8vw;
  }

  &__link {
    font-size: 1.2vw;
  }
  
  &__button {
    width: 14vw;
    height: 60%;
    
    background-color: $c-orange;
  }
}