@import "/src/styles/global.scss";

.questionnaire {
  &-container {
    display: flex;
    padding: 4vw 6.5vw;
    gap: 2vw;

    @include mq() {
      gap: 7vw;
      flex-direction: column;
      padding: 20vw 6.5vw;
    }
  }

  &-decor {
    position: absolute;
    right: 8%;
    bottom: 7%;

    @include mq() {
      top: 7%;
      width: 10vw;
      left: 43%;
    }
  }

  &-block {
    flex: 1;
    padding: 30px;
    border-radius: 8px;
    position: relative;

    @include mq() {
      padding: 28vw 5vw 14vw;
    }

    &.health {
      background-color: $c-orange;
    }

    &.laughter {
      background-color: $c-green;
    }

    p {
      margin-bottom: 20px;
    }
  }

  &__button {
    width: 15.5vw;
    height: 3.8vw;
    margin-top: 2vw;

    @include mq() {
      width: 80%;
      height: 15vw;
      margin: auto;
    }

    &.health {
      background: #abd9dc;
    }

    &.laughter {
      background: #c4c3e2;
    }
  }
}
