@import "../../styles/global.scss";

.footer {
  background-color: #f4d7dc;
  padding: 2vw 6.5vw;
  position: relative;

  @include mq() {
    padding: 26vw 6.5vw
  }

  &-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mq() {
      flex-direction: column;
      gap: 10vw;
    }
  }

  &__list-links {
    margin-top: 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;

    @include mq() {
      gap: 7.5vw;
      align-items: center;
      margin-top: 7.5vw;
    }
  }

  &__right {
    display: flex;
    gap: 8vw;

    @include mq() {
      align-items: center;
      flex-direction: column;
      gap: 14vw;
    }
  }

  &__logo {
    width: 15vw;

    @include mq() {
      width: 53vw;
    }
  }

  &-text {
    &-name {
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 0.1vw solid $c-black;
      max-width: min-content;
      text-wrap: nowrap;
    }

    &__contact {
      @include mq() {
        text-align: center;
        margin-bottom: 4vw;
      }
    }
  }

  &-nav {
      @include mq() {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  }

  &__links {
    display: flex;
    margin-top: 1vw;
    gap: 1vw;

    @include mq() {
      flex-direction: column;
    }
  }

  &__link {
    font: inherit;
  }

  &__socials {
    display: flex;
    margin-top: 1vw;
    gap: 2vw;

    @include mq() {
      gap: 7vw;
    }

    & img {
      width: 3vw;
      transition: all 0.2s ease-in-out;

      @include mq() {
        width: 16vw;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
