@import "/src/styles/global.scss";

.nav {
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  background-color: $c-purple;
  color: $c-black;
  z-index: 9;

  &__content {
    margin: 4vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include mq() {
      justify-content: center;
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 92svh;
    transition: all 0.3s ease;

    @include mq() {
      align-items: center;
      justify-content: center;
      width: 80vw;
      height: max(100svh, 660px);
      text-align: center;
      z-index: 10;
    }
  }
  &__link {
    transition: all 0.5s ease;
    padding: 2vw 0;
    font-size: 8vw;
  }
}
