@import "/src/styles/global.scss";

.dates {
  padding: 4vw 6.5vw;

  @include mq() {
    padding: 20vw 6.5vw 16vw;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4vw;

    @include mq() {
      flex-direction: column;
      margin-top: 12vw;
    }
  }

  .calendar {
    width: 34vw;
    padding: 2vw 3vw 4vw;
    text-align: center;
    text-transform: uppercase;
    border: 0.2vw solid $c-black;
    border-radius: 1vw;

    position: relative;

    @include mq() {
      width: 95%;
      border-radius: 2vw;
    }

    &__star {
      position: absolute;
      top: -3vw;
      right: 1vw;
      width: 8.5vw;
      @include rotation();

      @include mq() {
        top: -13vw;
        left: 2vw;
        width: 25vw;
      }
    }

    &__doodles {
      position: absolute;
      left: -4vw;
      top: 50%;
      transform: rotate(100deg);
      width: 6vw;

      @include mq() {
        right: 6vw;
        bottom: -9%;
        width: 17vw;
        left: auto;
        top: auto;
      }
    }

    &__weekdays,
    &__days {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      list-style-type: none;

      li {
        display: inline-block;
        text-align: center;
      }
    }

    &__weekdays {
      border-bottom: 0.2vw solid $c-black;
      padding: 1vw 0;
    }

    &__days {
      grid-template-rows: repeat(5, 1fr);
      row-gap: 2vw;
      position: relative;

      margin-top: 2vw;

      @include mq() {
        row-gap: 4vw;
      }
    }

    &__day {
      background-color: $c-green;
      width: 100%;
      padding: 0.5vw 0;

      cursor: pointer;

      @include mq() {
        padding: 1.5vw 0;
      }

      .type {
        &-1 {
          background-color: $c-purple;

          & > span {
            position: relative;
            z-index: 2;
          }
        }
        &-2 {
          background-color: $c-orange;
          position: relative;
        }
        &-3 {
          position: relative;
          background-color: $c-blue;
        }
      }

      &:nth-of-type(2),
      &:nth-of-type(8),
      &:nth-of-type(16),
      &:nth-of-type(23),
      &:nth-of-type(24),
      &:nth-of-type(31) {
        border-radius: 0.2vw 0;
        padding-left: 0.5vw;

        @include mq() {
          border-radius: 1.2vw 0;
          padding-left: 1.5vw;
        }
      }

      &:nth-of-type(7),
      &:nth-of-type(15),
      &:nth-of-type(22),
      &:nth-of-type(30),
      &:nth-last-child(1) {
        border-radius: 0 0.2vw 0.2vw 0;
        padding-right: 0.5vw;

        @include mq() {
          border-radius: 0 1.2vw 1.2vw 0;
          padding-right: 1.5vw;
        }
      }

      &:nth-of-type(11) {
        .type-1 {
          background: linear-gradient(90deg, $c-purple 40%, $c-orange 63%);
        }
      }

      &:nth-of-type(22) {
        .type-2 {
          background: linear-gradient(90deg, $c-orange 40%, $c-blue 63%);
        }
      }

      &--welcomed {
        position: absolute;
        width: 15%;
        top: 22%;
        z-index: -1;

        @include mq() {
          top: 21.2%;
        }
      }

      &--welcomed-2 {
        position: absolute;
        width: 15%;
        top: 43.7%;
        right: 0;
        z-index: -1;

        @include mq() {
          top: 42.7%;
        }
      }
    }
  }

  .packages {
    width: 41vw;
    height: 37vw;

    @include mq() {
      width: 100%;
      height: max-content;
      margin-top: 8vw;
    }

    &__line {
      height: 0.3vw;
      margin-bottom: 0.5vw;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      justify-content: space-between;

      height: 100%;

      @include mq() {
        margin-top: 4vw;
        gap: 5vw;
      }
    }

    &__item {
      width: 40%;
      height: 40%;
      background-color: $c-white;
      padding: 1vw 1.4vw;
      border-radius: 1vw;

      position: relative;

      cursor: pointer;

      @include mq() {
        border-radius: 2vw;
        padding: 4vw 3vw 2vw;
      }
    }

    &__title {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;

      padding: 1vw;
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.8vw;

      border-radius: 1vw 1vw 0 0;

      @include mq() {
        display: flex;
        padding: 3vw;
        border-radius: 2vw 2vw 0 0;
        font-size: 4vw;
        flex-wrap: nowrap;
        justify-content: center;
      }
    }

    &__card-content {
      margin-top: 2.7vw;

      @include mq() {
        margin-top: 8vw;
      }
    }

    &__term {
      font-size: 1.8vw;
      font-weight: bold;
      padding: 1vw 0;

      @include mq() {
        font-size: 4.8vw;
      }
    }

    &__entrance {
      font-weight: bold;
    }

    &__welcomed {
      opacity: 0.7;
    }
  }
}
